# build artifacts
build/
cmake-build-*/

# CMake generated
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
*.ninja
.ninja_*

# binaries
*.exe
*.out
*.a
*.o
*.obj

# editors / system
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# experiment results (do not commit)
TrialRes/


doc/